*{
    padding: 0;
    margin: 0;
}
.nav{
    display: flex;
    background-color: #f5f5f5;
}
.navbar {
    flex:auto;
    padding: 24px 24px;
}
.navbar:first-child {
    padding: 36.5px 36.5px;
    padding-left: 10%;
}
.navbar:nth-child(2){
    padding-right: 10%; 
    text-align: end;
}
.btn{
    padding: 15px 30px 15px 30px;
    font-family: "Fira Sans", serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #006A50;
    border: 2px solid #006A50;
    border-radius: 10px;
    cursor: pointer;
}
.btn:hover{
    color:blue;
    border: 2px solid blue;
    background-color: #c6e4d6;
}
a {
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    font-family: "Fira Sans", serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
    border-radius: 10px;
}

.banner{
    background-color: #c6e4d6;
    margin: auto;
    width: 75%;
    padding: 80px 100px 80px 100px;
    border-radius: 20px;
    display: flex;
}
.newsletter{
    background-color: #c6e4d6;
    margin: auto;
    padding: 80px 300px 80px 300px;
    border-radius: 20px;
}
.inp-region{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:0px;
    /* padding: 0px 250px 0px 250px; */
    margin-top: 20px;
    width: 100%;
}
.input-box{
    flex: 1;
    /* width: 100%; */
    background-color: white;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 20px;
    font-family: "Fira Sans", serif;
    font-style: normal;
    /* text-align: left; */
    font-size: 25px;

}
.butn{
    /* text-align: right; */
    padding: 0px;
    margin-left: 40px;
}
.butn1{
    background-color: #006A50;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
    font-family: "Fira Sans", serif;
    font-style: normal;
    text-align: left;
    font-size: 25px;
}
.bnr{
    flex: auto;
    margin-left: -30px;
    
}
.card-div{
    display: flex;
    gap: 30px;
}
.card{
    flex: 1;
    position: relative;
    padding: 20px;
    border: 2px solid #b3b3ae;
    border-radius: 15px;
}
.card a{
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.card h4{
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    letter-spacing: 0.1px;
    word-spacing: 3px;
    line-height: 20px;
}
.card h2{
    font-size: 25px;
    font-weight: 700;
    opacity: 0.7;
}
.card2{
    padding: 30px;
}
.card2:first-child{
    background-color: #dde9fd;
}
.card2:nth-child(2){
    background-color: #c6e4d6;
}
.card2:nth-child(3){
    background-color: #f7ebcf;
}
.quote{
    border: 2px solid #b3b3ae;
    border-radius: 15px;
    padding: 20px;
    /* position:relative */
}
.quote h4{
    opacity: 0.5;
    letter-spacing: 0.5px;
    word-spacing: 2px;
    font-weight: 500;
}
.quote-text{
    /* position:absolute;
    position: relative; */
    margin-top: -40px;
    /* top:35%; */
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.8px;
    word-spacing: 2px;
    opacity: 0.5;
}

.donation{
    display: flex;
    margin-top: 32px;
    margin-bottom: 32px;
    padding: 0px 80px 0px 80px;
    gap:25px;
}
.donation-card{
    flex: 1;
    padding: 32px 0px 32px 0px;
    text-align: center;
    font-size: 25px;
    opacity: 0.7;
    border: 2px solid #b3b3ae;
    border-radius: 10px;

}
.donation-card:hover{
    background-color: #c6e4d6;
    cursor: pointer;
}
.dnt{
    text-align: center;
    padding: 0px 80px 0px 80px;
}
#donation-input{
    border: none; 
    padding: 20px;
    border-bottom: 2px solid #bebebe;
    font-family: "Fira Sans", serif;
    font-style: normal;
    text-align: center;
    font-size: 25px;
    width: 96.5%;

}
.news{
    display: flex;
    gap: 24px;
    flex-direction: column;
}
.news-section{
    display: flex;
    padding: 48px;
    gap: 23px;
}
.news-part{
    position: relative;
    flex:auto;
}
.news-part a{
    position: absolute;
    bottom:0;
    left:0;
}
#vertical-line{
    width: 1077px;
    height: 1px;
    background-color: #bebebe;
    margin: auto;
}
#foot{
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* Font Family*/

/* .font-normal {
  font-family: "Fira Sans", serif;
  font-weight: 100;
  font-style: normal;
} 
*/ 

h1, h2, h3, h4, h5, h6, p {
    font-family: "Fira Sans", serif;
    /* font-weight: 100; */
    font-style: normal;
  }

.italic {
  font-family: "Fira Sans", serif;
  font-style: italic;
}
table {
    margin: 32px;
    width: 100%; 
    border-collapse: collapse;
    font-family: "Fira Sans", serif;
    font-style: normal;
}

th, select {
    background-color: #c6e4d6;
    color: #000000; 
    text-align: left;
    vertical-align: middle; 
    padding: 20px 20px; 
    border: none; 
}
select{
    margin: 10px;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 7px;
}
td {
    text-align: left;
    vertical-align: middle;
    padding: 10px 20px 10px 20px;
    border: 1px solid #b3b3ae;
}

tr {
    border: 1px solid #b3b3ae; 
}

